.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-height {
  min-height: 80vh;
}
.input-main {
  background-color: #151515 !important;
  /* border: 0px !important;
border-bottom-color:#151515 !important; */
  border: 1px solid #151515 !important ;
}
.input-main:focus {
  border: 0px;
}

input {
  background-image: none !important;
  background-color: black !important;
  color: -internal-light-dark(black) !important;
}
